:root {
  --section-padding: 0 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  height: 50px;
}

a{
  text-decoration: none;
}

body {
  margin: 0 auto;
}

.navbar {
  padding: var(--section-padding);
  background-color: #0891B2;
  height: 4.5em;
  > ul {
    height: 100%;
    gap: 35px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    font-weight: 400;
  }
  a {
    color: #fff;
    text-transform: uppercase;
  }
}

ul {
  list-style: none;
}

.services-gallery {
  padding: var(--section-padding);
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 500px;
  row-gap: 20px;
  column-gap: 35px;
  justify-content: space-between;
}

.service-card {
  border: 1px solid #000;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  padding: var(--section-padding);
  background-color: #0891B2;
  box-sizing: border-box;
  color: #fff;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  padding: 30px 0;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  ul {
    list-style: none;
  }
}
.footer-img-container{
  display: flex;
  max-height: 400px;
}
.footer-img {
  width: 100%;
}